/*
============
Fonts
============
*/

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*
============
Variables
============
*/

:root {
    /* Gradient colors */
    --clr-sft-violet: hsl(273, 75%, 66%);
    --clr-sft-blue: hsl(240, 73%, 65%);

    /* Colors for text*/
    --vd-gray-blue: hsl(237, 12%, 33%);
    --d-gray-blue: hsl(240, 6%, 50%);

    /* Divider */
    --lt-gray-blue: hsl(240, 5%, 91%);

    /* Shadow */
    --vlt-gray-blue: rgba(0, 0, 180, 0.05);

    --ff-primary: 'Kumbh Sans', sans-serif;
}

/*
============
Global Styles
============
*/

html {
    height: 100%;
    scroll-behavior: smooth;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    background: linear-gradient(var(--clr-sft-violet), var(--clr-sft-blue));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 150px 0 0 0;
}

header {
    display: flex;
    justify-content: center;
    position: relative;
    top: -130px;
    left: -18px;
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    margin: 2rem 0 .25rem;
}

main {
    position: relative;
    top: -110px;
    margin-bottom: -90px;
}

section {
    padding: 1rem 0;
    border-bottom: 1px solid var(--lt-gray-blue);
}

/* img {
    transition: transform .3s ease-in-out;
} */

/*
==============
Global classes
==============
*/

.container {
    width: 90vw;
    max-width: 310px;
    margin: 0 auto;
    background-color: white;
    background-image: url('./../images/bg-pattern-mobile.svg');
    background-size: 76%;
    background-repeat: no-repeat;
    background-position: left 2rem top .1rem;
    border-radius: 1rem;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.question:hover, .question:active {
    cursor:pointer;
}

.question:active {
    color:hsl(27, 98%, 57%)
}

.answer-container {
    margin: 0;
    overflow: hidden;
    transition: max-height .3s ease-out;
    transition: font-weight 2.3s ease-out;
}

.answer {
    margin: 1rem 1rem 0 0;
    color: var(--d-gray-blue);
    display: flex;
    line-height: 1.1rem;
    flex-wrap: wrap;
}

.hidden {
    max-height: 0;
    overflow: hidden;
}

.heavy-weight {
    font-weight: 700;
}

.rotate {
    transform: rotate(540deg);
}

.box {
    display: none;
}

.btn {
    border: none;
    background: none;
}

.attribution {
    margin: 2rem 0;
}

@media only screen and (min-width: 900px) {
        
    .container {
        max-width: 900px;
        min-height: 480px;
        max-height:fit-content;
        background-image: url('./../images/bg-pattern-desktop.svg');
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: left -27.25rem bottom -7rem;
        display: flex;
        flex-direction: row;
        padding-left: 0;
        z-index: 0;
    }

    header {
        flex: 1;
        position: relative;
        top: 50%;
        left: 0;
    }

    .main-img {
        position: relative;
        width: 510px;
        height: 375px;
        z-index: -1;
        top: 10%;
        transform: translateX(-27%);
    }

    .wrapper {
        overflow: hidden;
    }

    .box {
        display: block;
        position: absolute;
        top:39%;
        transform: translateX(-134%);
    }

    main {
        flex: 1;
        position: relative;
        max-height: fit-content;
        margin: 0;
        top:0;
        transform: translateX(-10%);
    }

    h1 {
        text-align: left;
        margin: 3rem 0 1.3rem;
    }

    .faq-item {
        width: 300px;
    }
}